# Server
PORT=3000
NODE_ENV=development
LOG_LEVEL=info

# Database (PostgreSQL)
DATABASE_URL="postgresql://trombi:trombi_secret@localhost:5432/trombinoscope"

STORAGE=local
UPLOAD_DIR=./uploads

S3_ENDPOINT=http://localhost:9000
S3_BUCKET=trombi-uploads
S3_KEY=minioadmin
S3_SECRET=minioadmin
S3_REGION=us-east-1
